<h1>Michael Busby's Table</h1>

<input type="number" placeholder="rows" [(ngModel)]="numRows"/>

<app-table
  [data]="tableData"
  [numRows]="numRows"
  (submitEmitter)="submitId($event)"
></app-table>
