<table>

  <!-- Column Headers -->
  <tr>
    <th></th>
    <th *ngFor="let column of columns">
      {{ column }}
    </th>
  </tr>

  <!-- Table Data -->
  <tr *ngFor="let entry of currentPageData">
    <td>
      <button (click)="submit(entry.id)">
        submit
      </button>
    </td>
    <td *ngFor="let column of columns">
      {{ entry[column] }}
    </td>
  </tr>

  <!-- Pagination Buttons -->
  <tfoot *ngIf="pageNumbers?.length > 0">
    <tr>
      <td colspan="20">
        <button
          *ngFor="let number of pageNumbers"
          [ngStyle]="{
            'background-color': number === currentPage ? 'aqua' : 'white'
          }"
          (click)="changePage(number)"
        >
          {{ number + 1 }}
        </button>
      </td>
    </tr>
    <tr></tr>
  </tfoot>
</table>
